* {
    box-sizing: border-box;
}

header {
    background-color: orange;
    width: 100%;
    height: 100px;
}

.header-container {
    display: block;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-family: Roboto, sans-serif;
    /*margin-left: 10px;
    margin-right: 10px;*/
    width: 100%;
}

h3 {
    /*
    margin-left: 10px;
margin-right: 10px;
*/
    font-weight: 100;
    font-size: 1em;
}

.profile {
    border: 1px solid gray;
}

img {
    max-width: 100%;
    background-size: contain;
    /* border: 1px solid gray;*/
}